 @font-face {
    font-family: 'Helvetica Neueregular';
    src: url('fonts/helveticaneue-thinext-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thinext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
    font-size:    14px;
    font-weight: bold;
    font-family: 'Helvetica Neueregular';
}
.all {
    width: 1214px;
    height: 1064px;
    margin: 0 auto;
}
.cadastr_backup {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 1028px;

}
.header {
    /*background-color: #085494;*/
    background-image: url(img/background_h.png);
    /*opacity:1;*/
    width: 100%;
    height: 36px;
    position: relative;
    overflow: hidden;
}
.menu_h {
    float: right;
    margin-right:20px;
    /*position: absolute;
    left: 20px;*/
}
/*.img_h {
    float: left;
    position: relative;
}*/
.line_h {
    position: absolute;
    top: 2px;
    right: 375px;
}
.bottom_h {
    position: absolute;
    top: 0px;
    /*top: -2px;*/
    right: 55px;
    z-index: 1;
    opacity: 1;
}
.flag_h {
    padding-top: 6px;
    margin-right: 7px;
    margin-left: 14px;
}

.menu_h ul {
    display:block;
    margin-right:0px;
}
.menu_h li {
    float: left;
    list-style: none;
    margin-left: 14px;
    margin-right: -6px;
    z-index: 2;
    /*border: 2px solid red;*/
}
#menu_li_flag {
    position: relative;
    top: -12px;
}
#ola {
    background-image: url(img/Layer_16.png);
    background-repeat:no-repeat;
}
#ola a {
    color:white;
}
#vender {
  background-color: #009fd6;
  border-bottom: 3px solid #009fd6;

  }
  #vender a{
      color:white;
  }
.menu_h a {
  display: block;
  text-decoration: none;
  color: #a0c7e2;
  line-height: 34px;
  padding: 2px 9px 0px 9px;
}
.cadastr {
    float: left;
    margin-left: 327px;
    font-size: 24px;
    color: #fff;
    width: 560px;
    height: 65px;
    line-height: 65px;
    vertical-align: center;
    text-align: center;
    /*padding-left: 50px;*/
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 215px;
    margin-bottom: 2px;
}
.forma {
  clear: both;
  margin-left: 327px;
  width: 560px;
  height: 548px;
  background-color: rgba(0, 0, 0, 0.5);
  vertical-align: center;
  text-align: center;
  padding-top: 38px;
  line-height: 55px;

}
#ou {
    background-image: url(img/line_c.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #999999;
    padding-left: 3px;
}
.footer {
  color:white;
  line-height:12px;
  font-size: 11px;
  margin-top: -30px;
}
INPUT {
  /*border-top: 10px thin red;*/
  background-color: black;
  width: 255px;
  height: 30px;
  padding-left: 18px;
  color:white;
  border: none;
  border-bottom: 2px solid #494949;

}
INPUT:focus {
   /*border: 3px solid #4b86b1;*/
   background-color: #1b5288;
   -webkit-box-shadow: 0px 0px 41px 1px rgba(81,140,181,1);
   -moz-box-shadow: 0px 0px 41px 1px rgba(81,140,181,1);
   box-shadow: 0px 0px 41px 1px rgba(81,140,181,1);
}
 INPUT[type="checkbox"] {
      width: inherit;
      height: inherit;
}
button[type="image"] {
    width: 272px;
    height: 35px;
    background-image: url(img/Facebook.png);
    background-repeat: no-repeat;
    /*margin: 0px 0px 0px -5px;*/
    line-height: 27px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
}
div[type="image"] {
    width: 277px;
    height: 34px;
    margin: 0px 0px 0px -5px;
    line-height: 27px;
}
 .but {
   background-image: url(img/Button_form.png);
   background-repeat: no-repeat;
   width: 151px;
   height: 37px;
   vertical-align: center;
   text-align: center;
   margin-left: 200px;
   /*margin-top: 10px;*/
   /*padding-top:  10px;*/
    position: relative;
}
 .but button {
   /*position: relative;*/
         /*position: absolute;
         bottom: 9px;
         right: 0px;*/
         background-color: inherit;
         border: none;
         height: inherit;
         width: inherit;
         padding: 0px 0px 0px 0px;
         margin: 0px 0px 0px 0px;
         line-height: 37px;
       }
.but span{
  position: absolute;
  bottom: 0px;
  right:   19px;
  color: white;

   padding: 0px 0px 0px 0px;
  }
